:root {
  background-color: #444;
  box-sizing: border-box;
}

#root {
  background-color: #444;
}

.Card {
  border-radius: 15px;
  margin: 0 auto;
  position: absolute;
}

.card {
  margin-bottom: 50px;
}

.postList {
  position: relative;
  margin: 25px auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightgrey;
  border-radius: 15px;
}

.postList--title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.postList--subtitle {
  color: grey;
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  :root {
    text-align: center;
  }
}
